* {
    margin: 0;
    padding: 0;
}

body{
    background-color: #19144b;
}

/*Pre Loader*/
#preloader {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.loader {
    border: 5px solid #f3f3f3;
    border-top: 5px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

h1{
    color: #fef8fd;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    padding: 0 2rem;
    background-color: #130f40;
}

nav ul {
    display: flex;
}

nav ul li {
    display: flex;
    list-style: none;
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: #fef8fd;
    font-weight: bold;
}

nav ul li a:hover {
    color: rgb(203, 203, 203);
}

#usersIntBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 5px;
    padding: 15px;
    margin: 20px auto;
    background-color: #ffec78;
    cursor: pointer;
}

.userCallBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 5px;
    padding: 15px;
    margin: 20px auto;
    background-color: #ffec78;
}

.userBtn {
    display: none;
    display: flex;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.userBtn.show {
    display: flex;
    opacity: 1;
}

#usersCallBtn1,
#usersCallBtn2,
#usersCallBtn3,
#usersCallBtn4,
#usersCallBtn5,
#usersCallBtn6 {
    display: none;
    cursor: pointer;
}

#userCard {
    margin-top: 20px;
    padding: 20px;
    margin: 0 auto;
    text-align: center;
    opacity: 0;
    border: 2px solid #fef8fd;
    border-radius: 5px;
    max-width: max-content;
    transition: opacity 0.5s ease-in-out;
}


b{
    color: #fef8fd;
}

p{
    color: #93a3b6;
}

i{
    color: #ffec78;
}

#userCard.show {
    display: block;
    opacity: 1;
}
footer {
    text-align: center;
    background-color: #1e1633;
    color: #93a3b6;
    padding: 10px;
    font-size: 1rem;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

@media (max-width: 767px) {
    nav {
        flex-direction: column;
        height: auto;
        padding: 1rem;
    }

    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin: 10px 0;
    }

    #usersIntBtn {
        margin: 10px auto;
    }

    .userCallBtn {
        margin: 10px auto;
    }

    .userBtn {
        flex-direction: column;
    }

    .userBtn button {
        margin: 10px 0;
    }

    .userBtn.show {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

    #usersCallBtn1,
    #usersCallBtn2,
    #usersCallBtn3,
    #usersCallBtn4,
    #usersCallBtn5,
    #usersCallBtn6 {
        width: 75%;
        margin: 0 auto;
        margin-bottom: 10px;

    }
}