* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

nav {
    height: 9vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #3b9ee1;
}

#bars {
    display: none;
}

.nav-elements {
    display: flex;
    gap: 2vw;
}

h1 {
    margin-left: 30px;
    color: #fff;
}

.nav-elements>h4:last-child {
    margin-right: 30px;
}

h4 a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease;
}

h4 a:hover {
    color: #e74c3c;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.calculator {
    display: flex;
    width: 30vw;
    border: 2px solid #3498db;
    background-color: #f5f5f5;
    justify-content: center;
    align-items: center;
    padding: 10px;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

input {
    width: 27vw;
    height: 8vh;
    font-size: 3vw;
    text-align: right;
    padding-right: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);
}

button {
    width: 6vw;
    height: 7vh;
    font-size: 2vw;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #3498db;
    color: #fff;
}

button.operator {
    background-color: #e74c3c;
    color: #fff;
}

button.operator:hover {
    background-color: #c0392b;
}

footer {
    text-align: center;
    background-color: #599cc9;
    color: #eee;
    padding: 10px;
    font-size: 1rem;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

@media (max-width: 600px) {
    h1 {
        font-size: 8vw;
    }

    .nav-elements {
        display: none;
    }

    .container {
        width: 100vw;
    }

    .calculator {
        width: 80vw;
    }

    input {
        width: 70vw;
        height: 7vh;
        font-size: 7vw;
    }

    button {
        width: 12vw;
        height: 10vw;
        font-size: 4vw;
    }
}